body {
	margin: 0;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Arial, serif;
	background: url(../textures/starscape.png) #eeffee;
	background-size: 100%;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
}

#containerLensView {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0;
	width: 50%;
	height: 50%;
	box-sizing: border-box;
}

#containerCloseView {
	position: absolute;
	top: 50%;
	right: 0px;
	padding: 0;
	width: 50%;
	height: 50%;
	box-sizing: border-box;
}

.menu {
	background-color: #D6D6D6;
	position: absolute;
	top: 200px;
	left: 10px;
	list-style: none;
	border: 2px solid #FFF;
	padding: 5px;
	width: 180px;
	z-index: 100;
}
#debug {
	display: none;
}
#auction {
	top: unset;
	bottom: 10px;
	display: none;
}
#mortgage {
	top: unset;
	bottom: 10px;
	display: none;
}
#trade {
	top: unset;
	bottom: 10px;
	display: none;
}
#build {
	top: unset;
	bottom: 10px;
	display: none;
}

.card {
	background-color: #FF9E57;
	border: solid 1px;
	padding: 10px;
	box-sizing: border-box;
}

input[type="number"] {
	width: 80;
}

.dg.a
{    
	float: left !important;
	margin-left: 2px !important;
}

.dg {
    font: 10px 'Lucida Grande', sans-serif !important;
}